/* .MuiContainer-root {
  padding: 0;
  max-width: 100000px;
}

.MuiContainer-maxWidthLg {
  padding: 0;
  max-width: 100000px;
}

@media (min-width: 600px) {
  .MuiContainer-root {
    padding: 0;
  }
} */
